// Buttons

.button {
  display: inline-block;
  text-decoration: none;
  min-width: 7.75rem;
  padding: 1em 1.25rem;
  cursor: pointer;
  border: 0;
  border-radius: 0.3125rem;
  font-weight: bold;
  line-height: 1;

  background-color: var(--violet-400);
  color: var(--gray-100);

  transition: background-color 100ms ease;

  &:hover {
    background-color: var(--violet-300);
  }

  &[data-type="light"] {
    background-color: var(--accent);
    color: var(--accent-text);

    &:hover {
      background-color: var(--accent-light);
    }
  }

  &[data-type="naked"] {
    background-color: transparent;
  }

  &--filter,
  &--search {
    display: grid;
    place-items: center;
    overflow: hidden;
    min-width: 0;
    width: 3rem;
    aspect-ratio: 1;
    padding: 0.875rem;

    > img {
      filter: brightness(100);
    }
  }
}

// Inputs

.search {
  border-radius: 0.375rem;
  display: flex;
  padding-inline: 0.375rem;
  background-color: var(--foreground);

  .text-input {
    border-radius: 0;
  }

  @media only screen and (min-width: 45em) {
    > :not(:first-child) {
      border-left: 1px solid var(--color-lighter);
    }
  }

  &__options {
    width: 100%;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 2rem 0.625rem;
    flex: 0 0;

    @media only screen and (min-width: 45em) {
      flex-basis: 19rem;
      gap: 1.625rem;
      justify-content: space-between;
    }
  }
}

.text-input {
  width: 100%;
  caret-color: var(--violet-400);
  border: 0;
  border-radius: 0.375rem;
  line-height: 1;
  padding: 1.875em;
  background-color: var(--foreground);
  color: var(--body-color);

  &::placeholder {
    color: var(--color-light);
  }

  // Improve keyboard accessibility
  &:focus-visible {
    position: relative;
    z-index: 10;
  }

  @media only screen and (min-width: 45em) {
    &[data-icon] {
      padding-left: 4.5rem;
      background-repeat: no-repeat;
      background-position: 2rem center;
    }
    &[data-icon="search"] {
      background-image: url("/images/icons/icon-search.svg");
    }
    &[data-icon="location"] {
      background-image: url("/images/icons/icon-location.svg");
    }
  }
}

.checkbox {
  display: inline-flex;
  align-items: center;

  input[type="checkbox"] {
    cursor: pointer;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.1875rem;
    accent-color: var(--violet-400);

    + label {
      cursor: pointer;
      color: var(--body-color);
      padding-left: 1em;
      user-select: none;
      font-weight: bold;
    }
  }
}

// Dot separator

.dot-separator {
  margin-inline: 0.25rem;

  &::before {
    content: "\2022";
  }
}

// Main header

.main-header {
  position: relative;
  padding-block: 1.5rem;
  height: 8.125rem;
  background-image: url("/images/mobile/bg-pattern-header.svg");
  background-size: cover;

  @media only screen and (min-width: 45em) {
    height: 10rem;
    background-image: url("/images/desktop/bg-pattern-header.svg");
    background-size: auto 100%;
    padding-block: 2.5rem;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      display: block;
      left: 50%;
      background-color: hsl(235, 69%, 61%);
      z-index: -1;
    }
  }
}

.logo {
  padding-block: 0.5rem;
}

.main-content {
  position: relative;
  margin-top: -0.875rem;

  @media only screen and (min-width: 45em) {
    margin-top: -2rem;
  }
}

// Card

.card-grid {
  margin-block: 3.5rem 2rem;
  display: grid;
  gap: 3rem 0.75rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  @media only screen and (min-width: 45em) {
    margin-top: 4.375rem;
    gap: 4rem clamp(0.75rem, 2vw, 1.875rem);
  }
}

.card {
  height: 100%;
  cursor: pointer;
  position: relative;
  background-color: var(--foreground);
  color: var(--color-light);
  border-radius: 0.375rem;
  padding: 2rem;
  padding-top: 3rem;
  transition: box-shadow 150ms;

  &__logo {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 3.125rem;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 0.9375rem;
    background-color: var(--bg, black);
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 6px 8px -2px rgb(0 0 0 / 0.1);
  }

  &:hover &__link {
    text-decoration: underline;
    color: var(--color-light);
  }

  &__location {
    margin-top: 2rem;
  }
}

// Job Page

.job {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    align-items: center;
    background-color: var(--foreground);
    border-radius: 0.375rem;

    @media only screen and (max-width: 44.999em) {
      text-align: center;
      padding-bottom: 2rem;
      padding-inline: 1rem;
    }

    @media only screen and (min-width: 45em) {
      flex-direction: row;
      gap: 2.5rem;
      overflow: hidden;
      border-top-left-radius: 0;

      & > :last-child {
        margin-inline: auto 2.5rem;
      }
    }
  }

  &__logo {
    width: 3.125rem;
    display: grid;
    place-items: center;
    padding: 0.3125rem;
    aspect-ratio: 1;
    border-radius: 0.9375rem;

    @media only screen and (max-width: 44.999em) {
      transform: translateY(-50%);
      margin-bottom: -1.5625rem;
    }

    @media only screen and (min-width: 45em) {
      width: 8.75rem;
      border-radius: 0;
      padding: 1.875rem;

      img {
        width: 100%;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  aspect-ratio: 2 / 1;
  border-radius: 100vw;

  &__slider {
    position: absolute;
    inset: 0;
    border-radius: 100vw;
    background-color: var(--gray-100);
    cursor: pointer;
    padding: 0.3125rem;

    &::after {
      content: "";
      position: absolute;
      width: 0.875rem;
      aspect-ratio: 1;
      background: var(--primary-color);
      border-radius: 100vw;
      transition: transform 250ms ease-in-out;
    }
  }

  input:checked + &__slider::after {
    transform: translateX(1.5rem);
  }

  input:focus-visible + &__slider {
    outline: 1px solid white;
    box-shadow: inset 0 0 0 2px black;
  }
}

.modal {
  position: fixed;
  width: 100%;
  z-index: 10;
  isolation: isolate;
  inset: 0;

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: 0;
    border-radius: 0.375rem;
    background-color: var(--foreground);
  }

  &__background {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 0;
    background: rgb(0 0 0 / 0.5);
  }

  &::backdrop {
    background: black;
    opacity: 0.5;
  }

  .text-input {
    padding-left: 4.5rem;
    background-repeat: no-repeat;
    background-position: 2rem center;
    background-image: url("/images/icons/icon-location.svg");
  }

  &__bottom {
    padding: 1.5rem;
    display: grid;
    gap: 1.5rem;
    border-top: 1px solid var(--color-lighter);
  }
}

body.modal-open {
  overflow: hidden;
}
