@use "variables" as *;

:root {
  @each $name, $hsl in $colors {
    --#{$name}: #{$hsl};
  }
}

body {
  --body-color: var(--gray-500);
  --body-bg: var(--gray-200);
  --foreground: var(--gray-100);

  background-color: var(--body-bg);
  color: #eee;
  font-family: "Kumbh Sans", system-ui, sans-serif;
  color: var(--body-color);
}
